.card {
  border: 2px solid #b32828;
  ;
  border-radius: 8px;
  padding: 16px;
  width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 0 1rem;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #b32828;
}

.card p {
  margin-top: 8px;
  color: #373737;
}

.contador {
  margin-top: 16px;
}

.quantity-btn {
  background-color: #5f5f5f;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.quantity-text {
  color: #373737;
  margin: 0 0.5rem;
}

.subtract-btn {
  border-radius: 8px 0 0 8px;
  height: 25px;
  width: 30px;
  border: 2px solid #b32828;
  background-color: #ffffff;
  cursor: pointer;
}

.subtract-btn:hover {
  background-color: #de4747;
  border: 2px solid #5e5959;
  color: #ffffff;
}

.add-btn {
  border-radius: 0 8px 8px 0;
  height: 25px;
  width: 30px;
  border: 2px solid #b32828;
  background-color: #ffffff;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #de4747;
  border: 2px solid #5e5959;
  color: #ffffff;
}

.finalizar-compra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-btn {
  background-color: #b32828;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 10px;
}

.card-btn:hover {
  background-color: #df6b6b;
}