.contenedor {
  display: flex;
  align-items: s;
  justify-content: space-between;
}

.quantity-text {
  color: #373737;
  margin: 0 0.5rem;
}

.subtract-btn {
  border-radius: 8px 0 0 8px;
  height: 25px;
  width: 30px;
  border: 2px solid #b32828;
  background-color: #ffffff;
  cursor: pointer;
}

.subtract-btn:hover {
  background-color: #de4747;
  border: 2px solid #5e5959;
  color: #ffffff;
}

.add-btn {
  border-radius: 0 8px 8px 0;
  height: 25px;
  width: 30px;
  border: 2px solid #b32828;
  background-color: #ffffff;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #de4747;
  border: 2px solid #5e5959;
  color: #ffffff;
}

.btn-agregar {
  background-color: #b32828;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #df6b6b;
}